Repository nutanix/nutanix.ansible, pull requests merged in 2022-07, with the labels that each got.

#218 Feat/security rules#207
  meta/runtime.yml
  plugins/module_utils/prism/address_groups.py
  plugins/module_utils/prism/security_rules.py
  plugins/module_utils/prism/service_groups.py
  plugins/module_utils/utils.py
  plugins/modules/ntnx_security_rules.py
  plugins/modules/ntnx_security_rules_info.py
  tests/integration/targets/ntnx_security_rules/meta/main.yml
  tests/integration/targets/ntnx_security_rules/tasks/app_rule.yml
  tests/integration/targets/ntnx_security_rules/tasks/isolation_rule.yml
  tests/integration/targets/ntnx_security_rules/tasks/main.yml
  tests/integration/targets/ntnx_security_rules/tasks/quarantine_rule.yml
  tests/integration/targets/ntnx_security_rules/tasks/vdi.yml
  tests/integration/targets/ntnx_security_rules/vars/main.yml
  tests/integration/targets/ntnx_security_rules_info/meta/main.yml
  tests/integration/targets/ntnx_security_rules_info/tasks/get_security_rules.yml
  tests/integration/targets/ntnx_security_rules_info/tasks/main.yml
Labels: 🐍 python

#219 Common helper class for categories mapping spec
  plugins/module_utils/prism/image_placement_policy.py
  plugins/module_utils/prism/images.py
  plugins/module_utils/prism/spec/categories_mapping.py
  plugins/module_utils/prism/vms.py
Labels: 🐍 python

#221 Update and info module for static routes
  README.md
  meta/runtime.yml
  plugins/module_utils/prism/static_routes.py
  plugins/module_utils/prism/vpn_connections.py
  plugins/modules/ntnx_static_routes.py
  plugins/modules/ntnx_static_routes_info.py
  tests/integration/targets/ntnx_static_routes/aliases
  tests/integration/targets/ntnx_static_routes/meta/main.yml
  tests/integration/targets/ntnx_static_routes/tasks/create.yml
  tests/integration/targets/ntnx_static_routes/tasks/main.yml
  tests/integration/targets/ntnx_static_routes_info/aliases
  tests/integration/targets/ntnx_static_routes_info/meta/main.yml
  tests/integration/targets/ntnx_static_routes_info/tasks/info.yml
  tests/integration/targets/ntnx_static_routes_info/tasks/main.yml
  tests/integration/targets/prepare_env/vars/main.yml
Labels: 🐍 python, 📝 documentation

#231 Feat/hosts and cluseters info modules
  meta/runtime.yml
  plugins/module_utils/prism/hosts.py
  plugins/modules/ntnx_clusters_info.py
  plugins/modules/ntnx_hosts_info.py
  tests/integration/targets/ntnx_clusters_info/meta/main.yml
  tests/integration/targets/ntnx_clusters_info/tasks/get_clusters_info.yml
  tests/integration/targets/ntnx_clusters_info/tasks/main.yml
  tests/integration/targets/ntnx_hosts_info/meta/main.yml
  tests/integration/targets/ntnx_hosts_info/tasks/get_hosts_info.yml
  tests/integration/targets/ntnx_hosts_info/tasks/main.yml
Labels: 🐍 python

#236 Module for PC categories
  meta/runtime.yml
  plugins/module_utils/entity.py
  plugins/module_utils/prism/categories.py
  plugins/module_utils/utils.py
  plugins/modules/ntnx_categories.py
  plugins/modules/ntnx_categories_info.py
  plugins/modules/ntnx_image_placement_policy.py
  plugins/modules/ntnx_images.py
  plugins/modules/ntnx_security_rules.py
  plugins/modules/ntnx_static_routes.py
  plugins/modules/ntnx_vms.py
  tests/integration/targets/ntnx_categories/meta/main.yml
  tests/integration/targets/ntnx_categories/tasks/all_operations.yml
  tests/integration/targets/ntnx_categories/tasks/main.yml
  tests/integration/targets/ntnx_categories_info/meta/main.yml
  tests/integration/targets/ntnx_categories_info/tasks/info.yml
  tests/integration/targets/ntnx_categories_info/tasks/main.yml
Labels: 🐍 python

#246 Module for users
  meta/runtime.yml
  plugins/module_utils/prism/users.py
  plugins/modules/ntnx_users.py
  plugins/modules/ntnx_users_info.py
  tests/integration/targets/ntnx_users/meta/main.yml
  tests/integration/targets/ntnx_users/tasks/create.yml
  tests/integration/targets/ntnx_users/tasks/main.yml
  tests/integration/targets/ntnx_users_info/meta/main.yml
  tests/integration/targets/ntnx_users_info/tasks/info.yml
  tests/integration/targets/ntnx_users_info/tasks/main.yml
Labels: 🐍 python

#245 Module for user groups
  meta/runtime.yml
  plugins/module_utils/prism/user_groups.py
  plugins/modules/ntnx_user_groups.py
  plugins/modules/ntnx_user_groups_info.py
  tests/integration/targets/ntnx_user_groups/meta/main.yml
  tests/integration/targets/ntnx_user_groups/tasks/create.yml
  tests/integration/targets/ntnx_user_groups/tasks/main.yml
  tests/integration/targets/ntnx_user_groups_info/meta/main.yml
  tests/integration/targets/ntnx_user_groups_info/tasks/info.yml
  tests/integration/targets/ntnx_user_groups_info/tasks/main.yml
Labels: 🐍 python

#227 Fix examples of info modules
  examples/subnet_info.yml
  examples/vm_info.yml
  plugins/modules/ntnx_floating_ips_info.py
  plugins/modules/ntnx_pbrs_info.py
  plugins/modules/ntnx_security_rules_info.py
  plugins/modules/ntnx_subnets_info.py
  plugins/modules/ntnx_vms_info.py
  plugins/modules/ntnx_vpcs_info.py
Labels: 🐍 python

#247 Use secret variable for vars required for PC tests
  .github/workflows/ok-to-test-command.yml
Labels: ⚙ ci

#243 Permissions, Address Groups and Roles modules
  README.md
  examples/address_groups_crud.yml
  examples/category_crud.yml
  examples/permissions_info.yml
  examples/projects_crud.yml
  examples/roles_crud.yml
  galaxy.yml
  meta/runtime.yml
  plugins/module_utils/entity.py
  plugins/module_utils/prism/address_groups.py
  plugins/module_utils/prism/permissions.py
  plugins/module_utils/prism/projects.py
  plugins/module_utils/prism/roles.py
  plugins/module_utils/prism/user_groups.py
  plugins/module_utils/prism/users.py
  plugins/modules/ntnx_address_groups.py
  plugins/modules/ntnx_address_groups_info.py
  plugins/modules/ntnx_permissions_info.py
  plugins/modules/ntnx_projects.py
  plugins/modules/ntnx_roles.py
  plugins/modules/ntnx_roles_info.py
  tests/integration/targets/ntnx_address_groups/meta/main.yml
  tests/integration/targets/ntnx_address_groups/tasks/create.yml
  tests/integration/targets/ntnx_address_groups/tasks/delete.yml
  tests/integration/targets/ntnx_address_groups/tasks/main.yml
  tests/integration/targets/ntnx_address_groups/tasks/update.yml
  tests/integration/targets/ntnx_address_groups_info/meta/main.yml
  tests/integration/targets/ntnx_address_groups_info/tasks/address_groups_info.yml
  tests/integration/targets/ntnx_address_groups_info/tasks/main.yml
  tests/integration/targets/ntnx_permissions_info/meta/main.yml
  tests/integration/targets/ntnx_permissions_info/tasks/main.yml
  tests/integration/targets/ntnx_permissions_info/tasks/permissions_info.yml
  tests/integration/targets/ntnx_roles/meta/main.yml
  tests/integration/targets/ntnx_roles/tasks/create.yml
  tests/integration/targets/ntnx_roles/tasks/delete.yml
  tests/integration/targets/ntnx_roles/tasks/main.yml
  tests/integration/targets/ntnx_roles/tasks/update.yml
  tests/integration/targets/ntnx_roles_info/meta/main.yml
  tests/integration/targets/ntnx_roles_info/tasks/main.yml
  tests/integration/targets/ntnx_roles_info/tasks/roles_info.yml
  tests/integration/targets/prepare_env/tasks/prepare_env.yml
Labels: 🐍 python, 📝 documentation
