Repository nutanix/nutanix.ansible, pull requests merged in 2022-03, with the labels that each got.

#137 Imprv/issue#128
  plugins/module_utils/base_module.py
  plugins/modules/ntnx_floating_ips.py
  plugins/modules/ntnx_pbrs.py
  plugins/modules/ntnx_subnets.py
  plugins/modules/ntnx_vms.py
  plugins/modules/ntnx_vpcs.py
  tests/integration/targets/nutanix_vms/vars/main.yml
Labels: 🐍 python

#139 issue#138
  plugins/module_utils/prism/pbrs.py
  plugins/modules/ntnx_pbrs.py
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/vars/main.yml
Labels: 🐍 python

#141 Add requiremnts file for integration
  .github/workflows/ok-to-test-command.yml
  tests/integration/requirements.txt
Labels: ⚙ ci

#136 support module default group for integration test
  tests/integration/targets/nutanix_floating_ips/tasks/create_floating_ips.yml
  tests/integration/targets/nutanix_floating_ips/tasks/main.yml
  tests/integration/targets/nutanix_floating_ips/tasks/negative_scenarios.yml
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/tasks/negative_scenarios.yml
  tests/integration/targets/nutanix_subnets/tasks/create_subnet.yml
  tests/integration/targets/nutanix_subnets/tasks/delete_subnet.yml
  tests/integration/targets/nutanix_subnets/tasks/main.yml
  tests/integration/targets/nutanix_subnets/tasks/negative_scenarios.yml
  tests/integration/targets/nutanix_vms/tasks/create.yml
  tests/integration/targets/nutanix_vms/tasks/delete.yml
  tests/integration/targets/nutanix_vms/tasks/main.yml
  tests/integration/targets/nutanix_vms/tasks/negtaive_scenarios.yml
  tests/integration/targets/nutanix_vpcs/tasks/create_vpcs.yml
  tests/integration/targets/nutanix_vpcs/tasks/delete_vpc.yml
  tests/integration/targets/nutanix_vpcs/tasks/main.yml
  tests/integration/targets/nutanix_vpcs/tasks/negative_scenarios.yml
  tests/integration/targets/prepare_env/vars/main.yml
Labels: ⚙ ci

#144 Imprv/issue#142
  README.md
  examples/ansible.cfg
  examples/delete_vm.yml
  examples/fip.yml
  examples/iaas/iaas.yml
  examples/iaas/policies_create.yml
  examples/iaas/policies_delete.yml
  examples/iaas/roles/external_subnet/meta/main.yml
  examples/iaas/roles/external_subnet/tasks/external_subnet.yml
  examples/iaas/roles/external_subnet/tasks/main.yml
  examples/iaas/roles/external_subnet/vars/main.yml
  examples/iaas/roles/fip/meta/main.yml
  examples/iaas/roles/fip/tasks/fip.yml
  examples/iaas/roles/fip/tasks/main.yml
  examples/iaas/roles/overlay_subnet/meta/main.yml
  examples/iaas/roles/overlay_subnet/tasks/main.yml
  examples/iaas/roles/overlay_subnet/tasks/overlay_subnet.yml
  examples/iaas/roles/pbr/meta/main.yml
  examples/iaas/roles/pbr/tasks/main.yml
  examples/iaas/roles/pbr/tasks/pbr.yml
  examples/iaas/roles/pbr_delete/meta/main.yml
  examples/iaas/roles/pbr_delete/tasks/main.yml
  examples/iaas/roles/pbr_delete/tasks/pbr_delete.yml
  examples/iaas/roles/vm/meta/main.yml
  examples/iaas/roles/vm/tasks/main.yml
  examples/iaas/roles/vm/tasks/vm.yml
  examples/iaas/roles/vpc/meta/main.yml
  examples/iaas/roles/vpc/tasks/main.yml
  examples/iaas/roles/vpc/tasks/vpc.yml
  examples/nutanix.yml
  examples/pbr.yml
  examples/subnet.yml
  examples/vm.yml
  examples/vpc.yml
  tests/integration/targets/nutanix_vms/vars/main.yml
Labels: 📝 documentation

#156 Add doc_fragments plugin
  plugins/doc_fragments/ntnx_credentials.py
  plugins/doc_fragments/ntnx_opperations.py
  plugins/modules/ntnx_floating_ips.py
  plugins/modules/ntnx_pbrs.py
  plugins/modules/ntnx_subnets.py
  plugins/modules/ntnx_vms.py
  plugins/modules/ntnx_vpcs.py
Labels: 🐍 python

#157 Imprv/info modules
  examples/fip_info.yml
  examples/pbr_info.yml
  examples/subnet_info.yml
  examples/vm_info.yml
  examples/vpc_info.yml
  meta/runtime.yml
  plugins/doc_fragments/ntnx_info.py
  plugins/modules/ntnx_floating_ips_info.py
  plugins/modules/ntnx_pbrs_info.py
  plugins/modules/ntnx_subnets_info.py
  plugins/modules/ntnx_vms.py
  plugins/modules/ntnx_vms_info.py
  plugins/modules/ntnx_vpcs_info.py
  tests/integration/targets/nutanix_floating_ips_info/meta/main.yml
  tests/integration/targets/nutanix_floating_ips_info/tasks/list_floating_ips.yml
  tests/integration/targets/nutanix_floating_ips_info/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs_info/meta/main.yml
  tests/integration/targets/nutanix_pbrs_info/tasks/list_pbrs.yml
  tests/integration/targets/nutanix_pbrs_info/tasks/main.yml
  tests/integration/targets/nutanix_subnets_info/meta/main.yml
  tests/integration/targets/nutanix_subnets_info/tasks/list_subnets.yml
  tests/integration/targets/nutanix_subnets_info/tasks/main.yml
  tests/integration/targets/nutanix_vms_info/meta/main.yml
  tests/integration/targets/nutanix_vms_info/tasks/list_vms.yml
  tests/integration/targets/nutanix_vms_info/tasks/main.yml
  tests/integration/targets/nutanix_vpcs/tasks/create_vpcs.yml
  tests/integration/targets/nutanix_vpcs_info/meta/main.yml
  tests/integration/targets/nutanix_vpcs_info/tasks/list_vpcs.yml
  tests/integration/targets/nutanix_vpcs_info/tasks/main.yml
Labels: 🐍 python

#161 code refactor: cleaned up CRUD for all entities and removed dead code
  plugins/inventory/ntnx_prism_vm_inventory.py
  plugins/module_utils/entity.py
  plugins/module_utils/prism/floating_ips.py
  plugins/module_utils/prism/groups.py
  plugins/module_utils/prism/tasks.py
  plugins/modules/ntnx_floating_ips.py
  plugins/modules/ntnx_pbrs.py
  plugins/modules/ntnx_subnets.py
  plugins/modules/ntnx_vms.py
  plugins/modules/ntnx_vpcs.py
  scripts/codegen.py
  tests/integration/targets/nutanix_vpcs/tasks/negative_scenarios.yml
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python, 1.1
