Repository nutanix/nutanix.ansible, pull requests merged in 2022-04, with the labels that each got.

#164 Imprv for github issue #163
  plugins/module_utils/entity.py
Labels: 🐍 python, 1.1

#174 Setting an environment variable
  .github/workflows/ok-to-test-command.yml
Labels: ⚙ ci

#176 set env var
  .github/workflows/ok-to-test-command.yml
Labels: ⚙ ci

#183 Imprv/custom filtering
  plugins/module_utils/entity.py
  plugins/module_utils/utils.py
Labels: 🐍 python

#186 Feat/foundation central issue#125
  examples/fc/api_keys_create.yml
  examples/fc/api_keys_info.yml
  examples/fc/fc.yml
  examples/fc/imaged_cluster_info.yml
  examples/fc/imaged_nodes_info.yml
  plugins/module_utils/entity.py
  plugins/module_utils/fc/__init__.py
  plugins/module_utils/fc/api_keys.py
  plugins/module_utils/fc/fc.py
  plugins/module_utils/fc/imaged_clusters.py
  plugins/module_utils/fc/imaged_nodes.py
  plugins/modules/ntnx_foundation_central.py
  plugins/modules/ntnx_foundation_central_api_keys.py
  plugins/modules/ntnx_foundation_central_api_keys_info.py
  plugins/modules/ntnx_foundation_central_imaged_clusters_info.py
  plugins/modules/ntnx_foundation_central_imaged_nodes_info.py
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python
