Repository nutanix/nutanix.ansible, pull requests merged in 2022-02, with the labels that each got.

#46 Sanity and python fix
  galaxy.yml
  nutanix-ncp-1.0.0.tar.gz
  plugins/inventory/ntnx_prism_vm_inventory.py
  plugins/module_utils/base_module.py
  plugins/module_utils/entity.py
  plugins/module_utils/prism/clusters.py
  plugins/module_utils/prism/groups.py
  plugins/module_utils/prism/images.py
  plugins/module_utils/prism/prism.py
  plugins/module_utils/prism/projects.py
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/tasks.py
  plugins/module_utils/prism/vms.py
  plugins/modules/ntnx_vms.py
  tests/integration/targets/nutanix_vms/tasks/create.yml
  tests/integration/targets/nutanix_vms/tasks/delete.yml
  tests/integration/targets/nutanix_vms/vars/main.yml
  tests/test_entity.py
Labels: 🐍 python

#51 Edit integration test
  nutanix-ncp-1.0.0.tar.gz
  plugins/module_utils/prism/vms.py
  tests/integration/targets/nutanix_vms/tasks/Negtaive_scenarios.yml
  tests/integration/targets/nutanix_vms/tasks/main.yml
Labels: 🐍 python

#53 #54 unit-tests for entity
  tests/test_entity.py
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python

#60 code cleanup: fix github issue#59
  plugins/module_utils/entity.py
  plugins/module_utils/prism/vms.py
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python

#81 Imprv/vpcs network prefix Github issue #80
  plugins/modules/ntnx_vpcs.py
Labels: 🐍 python

#79 Fix sanity and add doc: Gihub issue 78
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/vpcs.py
  plugins/modules/ntnx_vpcs.py
  scripts/create_module.py
Labels: 🐍 python

#75 Imprv cluster uuid : Github issue 73
  plugins/module_utils/prism/clusters.py
Labels: 🐍 python

#84 Add Vpcs Module
  .github/workflows/unit_testing.yml
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/vpcs.py
  plugins/modules/ntnx_vpcs.py
  scripts/create_module.py
  tests/integration/targets/nutanix_vpcs/tasks/create_vpcs.yml
  tests/integration/targets/nutanix_vpcs/tasks/main.yml
  tests/integration/targets/nutanix_vpcs/vars/main.yml
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python, ⚙ ci

#91 Add integration test and doc for Floating_ips module and fix sanity : Git#88
  plugins/module_utils/prism/clusters.py
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/virtual_switches.py
  plugins/modules/ntnx_floating_ips.py
  tests/integration/targets/nutanix_floating_ips/tasks/create_floating_ips.yml
  tests/integration/targets/nutanix_floating_ips/tasks/main.yml
  tests/integration/targets/nutanix_floating_ips/vars/main.yml
Labels: 🐍 python

#92 Feat/floating ips
  plugins/module_utils/entity.py
  plugins/module_utils/prism/clusters.py
  plugins/module_utils/prism/floating_ips.py
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/virtual_switches.py
  plugins/module_utils/prism/vms.py
  plugins/module_utils/prism/vpcs.py
  plugins/modules/ntnx_floating_ips.py
  tests/integration/targets/nutanix_floating_ips/tasks/create_floating_ips.yml
  tests/integration/targets/nutanix_floating_ips/tasks/main.yml
  tests/integration/targets/nutanix_floating_ips/vars/main.yml
  tests/unit/plugins/module_utils/test_entity.py
Labels: 🐍 python

#102 fix sanity and add doc and integration test : Gihub#101
  plugins/module_utils/prism/groups.py
  plugins/module_utils/prism/pbrs.py
  plugins/modules/ntnx_pbrs.py
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/vars/main.yml
Labels: 🐍 python

#100 #99 PBRs module
  examples/create_pbr.yml
  plugins/module_utils/prism/groups.py
  plugins/module_utils/prism/pbrs.py
  plugins/module_utils/prism/virtual_switches.py
  plugins/module_utils/prism/vms.py
  plugins/modules/ntnx_pbrs.py
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/vars/main.yml
Labels: 🐍 python

#117 Task/fix failing sanity
  .github/workflows/unit_testing.yml
  plugins/module_utils/prism/pbrs.py
  plugins/modules/ntnx_pbrs.py
Labels: 🐍 python, ⚙ ci

#119 Updates for codegen
  scripts/codegen.py
  scripts/create_module.py
Labels: 🐍 python

#109 Fix Readme
  README.md
Labels: 📝 documentation

#110 Fixed PBR documentation and added PBR test cases
  plugins/modules/ntnx_pbrs.py
  requirements.txt
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/tasks/negative_scenarios.yml
  tests/integration/targets/nutanix_pbrs/vars/main.yml
Labels: 🐍 python

#129 prepare Dynamic integration test environment github#126
  .github/workflows/ok-to-test-command.yml
  tests/integration/targets/nutanix_floating_ips/meta/main.yml
  tests/integration/targets/nutanix_floating_ips/tasks/create_floating_ips.yml
  tests/integration/targets/nutanix_floating_ips/vars/main.yml
  tests/integration/targets/nutanix_pbrs/meta/main.yml
  tests/integration/targets/nutanix_pbrs/tasks/create_pbrs.yml
  tests/integration/targets/nutanix_pbrs/tasks/main.yml
  tests/integration/targets/nutanix_pbrs/vars/main.yml
  tests/integration/targets/nutanix_subnets/meta/main.yml
  tests/integration/targets/nutanix_subnets/tasks/create_subnet.yml
  tests/integration/targets/nutanix_subnets/tasks/main.yml
  tests/integration/targets/nutanix_subnets/vars/main.yml
  tests/integration/targets/nutanix_vms/meta/main.yml
  tests/integration/targets/nutanix_vms/tasks/create.yml
  tests/integration/targets/nutanix_vms/vars/main.yml
  tests/integration/targets/nutanix_vpcs/meta/main.yml
  tests/integration/targets/nutanix_vpcs/tasks/create_vpcs.yml
  tests/integration/targets/nutanix_vpcs/vars/main.yml
  tests/integration/targets/prepare_env/tasks/cleanup.yml
  tests/integration/targets/prepare_env/tasks/main.yml
  tests/integration/targets/prepare_env/tasks/prepare_env.yml
  tests/integration/targets/prepare_env/vars/main.yml
Labels: ⚙ ci

#123 Fix Isort test
  scripts/codegen.py
Labels: 🐍 python

#131 #127 fixes for creating a VM based on a disk_image without specifying the size_gb
  plugins/module_utils/prism/vms.py
  tests/integration/targets/nutanix_vms/tasks/create.yml
Labels: 🐍 python
