Repository nutanix/nutanix.ansible, pull requests merged in 2023-10, with the labels that each got.

#402 Add cluster URL to response only when there is cluster creation
  plugins/modules/ntnx_foundation.py
  tests/integration/targets/ntnx_foundation_sanity/tasks/image_nodes.yml
Labels: 🐍 python, 1.9.1

#423 fiql string in filtering
  examples/vm_info.yml
  plugins/doc_fragments/ntnx_info.py
  plugins/module_utils/base_info_module.py
  plugins/module_utils/entity.py
  tests/integration/targets/nutanix_vms_info/tasks/list_vms.yml
Labels: 🐍 python

#419 Fix #391 and #418
  plugins/module_utils/ndb/database_clones.py
  plugins/module_utils/ndb/time_machines.py
  plugins/modules/ntnx_ndb_database_clone_refresh.py
  plugins/modules/ntnx_ndb_database_clones.py
  plugins/modules/ntnx_ndb_time_machines_info.py
Labels: 🐍 python

#412 functionality to update owner of vms
  plugins/doc_fragments/ntnx_vms_base.py
  plugins/module_utils/prism/spec/vms.py
  plugins/module_utils/prism/vms.py
  tests/integration/targets/nutanix_vms/tasks/create.yml
  tests/integration/targets/nutanix_vms/tasks/vm_update.yml
Labels: 🐍 python

#417 fix for custom filter and examples
  examples/clusters_info.yml
  examples/fip_info.yml
  examples/hosts_info.yml
  examples/subnet_info.yml
  examples/vm_info.yml
  plugins/module_utils/entity.py
  tests/integration/targets/nutanix_subnets_info/tasks/list_subnets.yml
Labels: 🐍 python

#426 example for vms inventory
  examples/inventory/ansible.cfg
  examples/inventory/nutanix.yaml
Labels: 1.9.1

#403 Bug/issue#400
  plugins/module_utils/prism/vms.py
Labels: 🐍 python, 1.9.1

#396 Example for VMs
  examples/vm.yml
Labels: 1.9.1

#394 Fix: Syntax Errors in Create App Security Rule Example
  plugins/modules/ntnx_security_rules.py
Labels: documentation, 1.9.1

#393 issue#385 functionality to handle issue when size of new disk is absent
  plugins/module_utils/prism/vms.py
Labels: 🐍 python, 1.9.1

#392 example fix #388
  plugins/modules/ntnx_images_info.py
Labels: 🐍 python, 1.9.1

#408 fix for issue#360
  plugins/module_utils/prism/vms.py
  plugins/modules/ntnx_vms_clone.py
Labels: 🐍 python, 1.9.1

#407 improve clone examples
  examples/ndb/create_clone.yml
  examples/ndb/refresh_clone.yml
Labels: 1.9.1
