Repository nutanix/nutanix.ansible, pull requests merged in 2023-06, with the labels that each got.

#346 Fetch available IPs for network profiles in NDB
  plugins/module_utils/ndb/profiles/profile_types.py
  plugins/modules/ntnx_ndb_profiles_info.py
  tests/integration/targets/ntnx_ndb_profiles_info/tasks/info.yml
Labels: 🐍 python

#341 Fix mismatch of virtual switch in subnet creation
  plugins/module_utils/prism/groups.py
  plugins/module_utils/prism/subnets.py
  plugins/module_utils/prism/virtual_switches.py
  plugins/module_utils/utils.py
Labels: 🐍 python

#356 fix for etcd min disk size
  plugins/module_utils/karbon/clusters.py
  plugins/modules/ntnx_karbon_clusters.py
  tests/integration/targets/ntnx_karbon_clusters_and_info/tasks/create_delete_and_info.yml
Labels: 🐍 python

#342 Support multi-tiers target in application network security rule
  plugins/module_utils/prism/security_rules.py
  plugins/modules/ntnx_security_rules.py
  tests/integration/targets/ntnx_security_rules/tasks/app_rule.yml
Labels: 🐍 python

#343 Fix setting some configuration for cluster in foundation
  plugins/module_utils/foundation/image_nodes.py
Labels: 🐍 python

#353 fix filters combination expression for Nutanix info modules
  plugins/module_utils/entity.py
Labels: 🐍 python

#351 Feat/karbon clusters update
  meta/runtime.yml
  plugins/module_utils/karbon/node_pools.py
  plugins/modules/ntnx_karbon_clusters_node_pools.py
  tests/integration/targets/ntnx_karbon_clusters_and_info/tasks/create_delete_and_info.yml
Labels: 🐍 python

#348 NDB tags info module
  README.md
  meta/runtime.yml
  plugins/modules/ntnx_ndb_tags_info.py
  tests/integration/targets/ntnx_acps/tasks/create_acps.yml
  tests/integration/targets/ntnx_acps/tasks/update_acps.yml
  tests/integration/targets/ntnx_categories/tasks/all_operations.yml
  tests/integration/targets/ntnx_foundation_central_imaged_nodes_info/tasks/get_node_info.yml
  tests/integration/targets/ntnx_image_placement_policy/tasks/update.yml
  tests/integration/targets/ntnx_images/tasks/update.yml
  tests/integration/targets/ntnx_karbon_clusters_and_info/tasks/create_delete_and_info.yml
  tests/integration/targets/ntnx_karbon_registries/tasks/create.yml
  tests/integration/targets/ntnx_karbon_registries/tasks/negativ_scenarios.yml
  tests/integration/targets/ntnx_ndb_database_clones/tasks/clones.yml
  tests/integration/targets/ntnx_ndb_databases_actions/tasks/all_actions.yml
  tests/integration/targets/ntnx_ndb_databases_single_instance_1/tasks/tests.yml
  tests/integration/targets/ntnx_ndb_db_server_vms/tasks/crud.yml
  tests/integration/targets/ntnx_ndb_profiles/tasks/compute.yml
  tests/integration/targets/ntnx_ndb_profiles/tasks/db_params.yml
  tests/integration/targets/ntnx_ndb_profiles/tasks/network_profile.yml
  tests/integration/targets/ntnx_ndb_slas/tasks/CRUD.yml
  tests/integration/targets/ntnx_ndb_tags/tasks/crud.yml
  tests/integration/targets/ntnx_ndb_vlans/tasks/create_vlans.yml
  tests/integration/targets/ntnx_ndb_vlans/tasks/negativ_scenarios.yml
  tests/integration/targets/ntnx_protection_rules/tasks/protection_rules.yml
  tests/integration/targets/ntnx_security_rules/tasks/quarantine_rule.yml
  tests/integration/targets/ntnx_security_rules_info/tasks/get_security_rules.yml
  tests/integration/targets/ntnx_service_groups/tasks/create.yml
  tests/integration/targets/ntnx_service_groups/tasks/update.yml
  tests/integration/targets/ntnx_static_routes/tasks/create.yml
  tests/integration/targets/ntnx_static_routes_info/tasks/info.yml
  tests/integration/targets/ntnx_users/tasks/create.yml
Labels: 🐍 python, 📝 documentation

#380 fix docker install step in unit tests
  .github/workflows/unit_testing.yml
Labels: ⚙ ci
