Repository nutanix/nutanix.ansible, pull requests merged in 2025-04, with the labels that each got.

#619 Readme changes for release/2.1.0
  README.md
  galaxy.yml
  plugins/modules/ntnx_promote_protected_resources_v2.py
  plugins/modules/ntnx_protected_resources_info_v2.py
  plugins/modules/ntnx_protection_policies_info_v2.py
  plugins/modules/ntnx_protection_policies_v2.py
  plugins/modules/ntnx_restore_protected_resources_v2.py
  plugins/modules/ntnx_volume_groups_categories_v2.py
Labels: 🐍 python, 📝 documentation

#625 Update requirements file
  .github/workflows/flake8.yml
  meta/runtime.yml
  requirements.txt
Labels: ⚙ ci

#629 Changing Ansible Version from 2.0.1 to 2.1.0 in the Readme file
  README.md
Labels: 📝 documentation

#630 Make requirements with no cap version as per guidelines from Redhat approval process
  README.md
  meta/runtime.yml
  requirements.txt
Labels: 📝 documentation

#633 Changes in the Changelog and README files for 2.1.1 release
  CHANGELOG.md
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
Labels: 📝 documentation
